.no-border {
  border: none !important;  
}

.no-background {
  background: none !important;  
}

.no-outline {
  outline: none !important;
}

.no-focus:focus {
  background: none !important;
}

.no-shadow {
  box-shadow: none !important;
}