.list-group {
  border-radius: 0;
  
  .list-group-item {
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    &:last-child {
      border: none;
    }
    
    .row-left {
      position: absolute;
      height: 100%;
      width: 56px;
      top: 50%;
      margin-top: -28px;
      
      i, .letter, img {
        display: block;
        height: 56px;
        background: rgba(0,0,0,0.25);
        border-radius: 100%;
        text-align: center;
        line-height: 56px;
        font-size: 20px;
        color: white;
      }
      
      .letter {
        text-transform: uppercase;
      }
    }
    
    .row-right {
      width: unquote("calc(100% - 76px)");
      margin-left: 76px;
      .row-item-heading {
        color: rgba(0, 0, 0, 0.77);
        font-size: 20px;
        line-height: 29px;        
      }
    }
    
  }  
}