// Colors:

@import 'colors';

// Typography 

$cng-text-color-light:                  unquote("rgba(#{$rgb-white}, 0.84)") !default;
$cng-text-color-light-hex:              $white !default; // for contrast function in inverse
$cng-text-color-primary:                unquote("rgba(#{$rgb-black}, 0.87)") !default;
$cng-text-color-primary-hex:            $black !default; // for contrast function in inverse
$icon-color:                            rgba(0,0,0,0.5) !default;

$cng-label-color:                       unquote("rgba(#{$rgb-black}, 0.26)") !default;
$cng-label-color-toggle-focus:          unquote("rgba(#{$rgb-black}, .54)") !default;

// Alert

$cng-box-shadow:                        none !default;
$cng-alert-padding:                     $alert-padding !default;

$cng-alert-success-background:          $alert-success-text !default;
$cng-alert-success-border:              $alert-success-text !default;
$cng-alert-success-text-color:          #fff !default;

$cng-alert-info-background:             $alert-info-text !default;
$cng-alert-info-border:                 $alert-info-text !default;
$cng-alert-info-text-color:             #fff !default;

$cng-alert-warning-background:          $alert-warning-text !default;
$cng-alert-warning-border:              $alert-warning-text !default;
$cng-alert-warning-text-color:          #fff !default;

$cng-alert-danger-background:           $alert-danger-text !default;
$cng-alert-danger-border:               $alert-danger-text !default;
$cng-alert-danger-text-color:           #fff !default;

// Notifications

$cng-notification-progressbar-success-bg: $alert-success-text !default;
$cng-notification-progressbar-info-bg:    $alert-info-text !default;
$cng-notification-progressbar-warning-bg: $alert-warning-text !default;
$cng-notification-progressbar-danger-bg:  $alert-danger-text !default;

// Navbar:

$cng-brand-inverse:                     $navbar-inverse-bg !default;
$cng-navbar-default-link-hover-bg:      rgba(255,255,255,0.2) !default;
$cng-navbar-default-link-active-bg:     rgba(255,255,255,0.2) !default;

// Animations:

$cng-animation-curve-fast-out-slow-in:    cubic-bezier(0.4, 0, 0.2, 1) !default;
$cng-animation-curve-linear-out-slow-in:  cubic-bezier(0, 0, 0.2, 1) !default;
$cng-animation-curve-fast-out-linear-in:  cubic-bezier(0.4, 0, 1, 1) !default;
$cng-animation-curve-default:             $cng-animation-curve-fast-out-slow-in !default;
  
// Inputs:

$cng-input-placeholder-color:           #BDBDBD !default;
$cng-input-underline-color:             #D2D2D2 !default;
$cng-label-static-size-ratio:           75 / 100 !default;
$cng-help-block-size-ratio:             75 / 100 !default;
$cng-help-block-color:                  lighten($text-color, 25%) !default; // Same as bootstrap

$cng-input-font-size-base:              16px !default;
$cng-input-font-size-large:             ceil(($font-size-base * 1.25)) !default; // ~20px
$cng-input-font-size-small:             ceil(($font-size-base * 0.75)) !default; // ~12px

$cng-input-line-height-base:            $line-height-base; //1.428571429 !default; // 20/14
$cng-input-line-height-computed:        floor(($cng-input-font-size-base * $cng-input-line-height-base)) !default; // ~20px
$cng-input-line-height-large:           1.3333333 !default; // extra decimals for Win 8.1 Chrome
$cng-input-line-height-small:           1.5 !default;

$cng-input-padding-base-vertical:       8px - 1px !default; // was 6.
$cng-input-padding-base-horizontal:     0 !default; // was 12.
$cng-label-as-placeholder-shim-base:    0 !default; // manual adjustment of label top when positioned as placeholder
$cng-label-top-margin-base:             16px !default;

$cng-input-padding-large-vertical:      10px - 1px !default; // 10
$cng-input-padding-large-horizontal:    0 !default;  // 16
$cng-label-as-placeholder-shim-large:   -4px !default; // manual adjustment of label top when positioned as placeholder
$cng-label-top-margin-large:            16px !default;

$cng-input-padding-small-vertical:      4px - 1px !default; // 5
$cng-input-padding-small-horizontal:    0 !default; // 10
$cng-label-as-placeholder-shim-small:   8px !default; // manual adjustment of label top when positioned as placeholder
$cng-label-top-margin-small:            12px !default;

$cng-input-padding-xs-vertical:         2px !default; // 1
$cng-input-padding-xs-horizontal:       0 !default; // 5

$cng-input-border-radius-base:          0 !default;
$cng-input-border-radius-large:         0 !default;
$cng-input-border-radius-small:         0 !default;


//** Default `.form-control` height
$cng-input-height-base:                 ($cng-input-line-height-computed + ($cng-input-padding-base-vertical * 2) + 2) !default;
//** Large `.form-control` height
$cng-input-height-large:                (ceil($cng-input-font-size-large * $cng-input-line-height-large) + ($cng-input-padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
$cng-input-height-small:                (floor($cng-input-font-size-small * $cng-input-line-height-small) + ($cng-input-padding-small-vertical * 2) + 2) !default;

// Buttons:

$cng-btn-font-size-base:                14px !default;
$cng-btn-font-size-lg:                  16px !default;
$cng-btn-font-size-sm:                  12px !default;
$cng-btn-font-size-xs:                  10px !default;

$cng-btn-background-color:              transparent !default;
$cng-btn-background-color-text:         $cng-text-color-primary !default;

$mdl-btn-border-radus:                  2px !default;

$cng-btn-fab-size:                      56px !default;
$cng-btn-fab-size-mini:                 40px !default;
$cng-btn-fab-font-size:                 24px !default;

$cng-btn-icon-size:                     32px !default;
$cng-btn-icon-size-mini:                24px !default;

// Popovers and Popups:

$cng-popover-background:                rgba(101, 101, 101, 0.9) !default;
$cng-popover-color:                     #ececec !default;

// Dropdown Menu:

$cng-dropdown-font-size:                16px !default;
$cng-dropdown-bg:                       $dropdown-bg !default;
$cng-dropdown-z-index:                  10000 !default;  
$cng-dropdown-link-hover-bg:            $dropdown-link-hover-bg !default;
$cng-dropdown-caret-color:              $grey-600 !default;
$cng-dropdown-caret-content:            "arrow_drop_down" !default;
$cng-dropdown-caret-font-family:        "Material Icons" !default;

// Toggle:

$cng-toggle-label-color:                $cng-label-color !default;

// Checkboxes:

$cng-checkbox-size:                     20px !default;
$cng-checkbox-animation-ripple:         500ms !default;
$cng-checkbox-animation-check:          0.3s !default;
$cng-checkbox-checked-color:            $brand-primary !default;

$cng-checkbox-border-size:              2px !default;
$cng-checkbox-label-color:              $cng-label-color !default;
$cng-checkbox-border-color:             $cng-label-color-toggle-focus !default;

// Radio:

$cng-radio-label-color:                 $cng-label-color !default;
$cng-radio-color-off:                   $cng-label-color-toggle-focus !default;
$cng-radio-color-on:                    $brand-primary !default;

// Tabs

$cng-nav-tabs-bg:                       $grey-50;
$cng-nav-tabs-color:                    $grey-600;
$cng-nav-tabs-color-hover:              $grey-700;
$cng-navb-tabs-active-color:            $teal-500;