// top & bottom & vetical

$margins: '0' '3' '5' '10' '15' '25' '50';

@each $margin in $margins {
  .margin-top-#{$margin} {
    margin-top: #{$margin}px;
  }
  .margin-bottom-#{$margin} {
    margin-bottom: #{$margin}px;
  }
  .margin-vertical-#{$margin} {
    margin-top: #{$margin}px;
    margin-bottom: #{$margin}px;
  }
}

// left & right

$margins: '0' '3' '5';

@each $margin in $margins {
  .margin-left-#{$margin} {
    margin-left: #{$margin}px;
  }
  .margin-right-#{$margin} {
    margin-right: #{$margin}px;
  }
}
