$white: #fff;

// Alert

$cng-box-shadow:                none !default;
$cng-alert-padding:             $alert-padding !default;

$cng-alert-success-background:  $alert-success-text;
$cng-alert-success-border:      $alert-success-text;
$cng-alert-success-text-color:  #fff;

$cng-alert-info-background:     $alert-info-text;
$cng-alert-info-border:         $alert-info-text;
$cng-alert-info-text-color:     #fff;

$cng-alert-warning-background:  $alert-warning-text;
$cng-alert-warning-border:      $alert-warning-text;
$cng-alert-warning-text-color:  #fff;

$cng-alert-danger-background:   $alert-danger-text;
$cng-alert-danger-border:       $alert-danger-text;
$cng-alert-danger-text-color:   #fff;

// Notifications

$cng-notification-progressbar-success-bg: $alert-success-text;
$cng-notification-progressbar-info-bg:    $alert-info-text;
$cng-notification-progressbar-warning-bg: $alert-warning-text;
$cng-notification-progressbar-danger-bg:  $alert-danger-text;
